@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  height: 200px;
  background: linear-gradient(120deg, #f83862, #fffc52);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.box {
  width: 450;
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 20px;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  background: rgb(255, 255, 255, 0.3);
  inset: 0;
  transform: rotate(0deg);
  z-index: -1;
  border-radius: 30px;
  margin-left: -10px;
  margin-top: -10px;
}

.box h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.img11 {
  margin-right: 5px;
}

input {
  padding: 20px;
  user-select: none;
  height: 20px;
  width: 400px;
  border-radius: 6px;
  border: none;
  border: 2px solid rgb(54, 54, 54);
  outline: none;
  font-size: 16px;
  font-family: "Courier Prime", monospace;
}

.ffs {
  font-family: "Noto Sans JP", sans-serif;
}

input::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

#button {
  font-family: sans-serif;
  font-size: 15px;

  margin-top: 40px;
  border: 2px solid rgb(0, 0, 0);
  width: 155px;
  height: 50px;
  text-align: center;
  background-color: #000000;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Poppins", sans-serif;

  border-radius: 7px;
  transition: 0.6s;
}
.btn2 {
  margin-left: 85px;
}

#button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(241, 241, 241);
  transition: 0.7s;
}

.material-symbols-outlined-copy {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  backdrop-filter: blur(30px);
  background-color: black;
  z-index: 1001;
}

.preloader__image {
  width: 50px;
  height: 50px;
  background: url("./loading_50px.svg");
  margin-top: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*расположение (url) изображения gif и др. параметры*/
}

.prlg {
  width: 200px;
  height: 100px;
  background: url("./dwlg.png");
  /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.container5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16em;
}

.logoimg {
  height: 100px;
  margin-top: -30px;
  margin-bottom: 50px;
}
